/* ---------------------------------------------------
    404 PAGE
----------------------------------------------------- */
.notfoundtitle {
    font-size: 100px;
    padding-top: 30px;
    color: #3a567d;
}

.notfoundtext {
    font-size: 20px;
    color: #3a567d;
}

.hr404 {
    border: #3a567d 2px solid;
    margin-top: 100px;
}

.notfoundimg {
    height: 40px;
    opacity: 0.6;
}

.conanlogo {
    width: 0;
    height: 0;
    background-image: url('images.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -429px;
    padding: 25px 75px;
}
