/* ---------------------------------------------------
    ALARMS
----------------------------------------------------- */
#table-alarme {
  tbody > tr > th,
  tbody > tr > td {
    vertical-align: middle;
    padding: 3px !important;
    border-bottom: 1px solid #ddd;
    border-top: 0;
  }

}
thead > tr > th,
tbody > tr > th {
  text-align: center !important;
}
.thead-dark {
  background-color: #3a567d;
  color: #fff;
}




.alarm-panel-row {
    padding: 0 10px;
}

.alarm-first-col-row {
    margin-bottom: 10px;
}

.alarm-config-geral-panel {
    padding: 15px 30px !important;
}

.alarm-trap-snmp-panel {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.checkbox-col {
    padding-top: 15px !important;
}

.alarm-snmp-table {
    width: 100%;
}

.alarm-snmp-table th {
    text-align: right;
    padding-bottom: 10px;
    width: 40%;
}

.alarm-snmp-table td {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 60%;
}

.col-alarm-left {
    width: 38%;
}

.col-alarm-right {
    width: 62%;
}

.hr-mobile {
    display: none;
}

.alarm-select-table {
    width: 90%;
    margin: 0 auto;
}

.alarm-select-table th {
    text-align: center;
}

.alarm-select-table th,
.alarm-select-table td {
    padding-bottom: 12px;
}

.inputs-disab.disabled tr td input {
    cursor: not-allowed;
}

.inputs-disab.disabled th,
.inputs-disab.disabled td {
    opacity: 0.5;
}

.alarmSnmpHr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row-intervalo-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
