/* ---------------------------------------------------
    ALERT
----------------------------------------------------- */

#alert-area.overlay {
  background: rgba(0, 0, 0, 0.5);
}
.alert-modal {
  width: 25em;
  border-radius: 0.2em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.alert-modal-header {
  background-color: #3a567d;
  color: #fff;
  padding: 0.75em 1em;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  ~ {
    .alert-modal-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
.alert-modal-body {
  background-color: #fafafa;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  padding: 1.5em 1em;
}
.alert-modal-controls {
  background-color: #fafafa;
  padding: 0 1em 0.75em;
  text-align: center;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.xps-table {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.px-1 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.px-2 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.px-3 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.mr-1 {
  margin-right: 0.5em;
}
.mr-2 {
  margin-right: 1em;
}
.mr-3 {
  margin-right: 2em;
}
.ml-1 {
  margin-left: 0.5em;
}
.ml-2 {
  margin-left: 1em;
}
.ml-3 {
  margin-left: 2em;
}
.mt-1 {
  margin-top: 0.5em;
}
.mt-2 {
  margin-top: 1em;
}
.mt-3 {
  margin-top: 2em;
}
.mb-1 {
  margin-bottom: 0.5em;
}
.mb-2 {
  margin-bottom: 1em;
}
.mb-3 {
  margin-bottom: 2em;
}
.my-1 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.my-2 {
  margin-bottom: 1em;
  margin-top: 1em;
}
.my-3 {
  margin-bottom: 2em;
  margin-top: 2em;
}
.no-wrap {
  white-space: nowrap;
}
table.no-wrap {
  th {
    white-space: nowrap;
  }
  td {
    white-space: nowrap;
  }
}
.row.compact {
  margin-left: -5px;
  margin-right: -5px;
  > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.valign-mid {
  vertical-align: middle !important;
}
.lbl {
  display: inline-block;
  margin-bottom: 0.3em;
  font-weight: normal;
  padding: 0.4em 0.6em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #999;
}
.lbl-ok {
  background-color: #337ab7;
}
.lbl-repr {
  background-color: #c9302c;
}
.lbl-fail {
  background-color: #dea60d;
}
#capacidade {
  display: none;
}
#capacidade.active {
  display: block;
}
.captestStatus {
  border: 1px solid #999;
  background: #ddd;
  padding: 0.4em;
  vertical-align: bottom;
  border-radius: 4px;
  font-weight: bold;
  min-height: 33px;
}
.captestStatus.fail {
  background-color: #c9302c;
  color: #fff;
  border-color: #963331;
}
#captestCurrent_modal {
  h4 {
    margin-top: 0;
    text-align: center;
  }
  .modal-content {
    width: 0;
  }
  .xps-table {
    th {
      padding: 0.4em 0.6em 0.4em;
      white-space: nowrap;
    }
    td {
      padding: 0.4em 0.6em 0.4em;
      white-space: nowrap;
    }
  }
  .form-control {
    width: auto;
    display: inline-block;
  }
}
#captestResults_modal {
  h4 {
    margin-top: 0;
    text-align: center;
  }
}
#captestCurrent_iniTable {
  h4 {
    margin-bottom: 13px;
  }
}
.xps-box {
  padding: 0.3em 0.4em;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  background: hsla(215, 55%, 96%, 1);
}
.nav-tabs {
  border-bottom-color: #aaa;
  > li.active {
    > a {
      background-color: #fafafa;
      border-top-color: #aaa;
      border-left-color: #aaa;
      border-right-color: #aaa;
      &:hover {
        background-color: #fafafa;
        border-top-color: #aaa;
        border-left-color: #aaa;
        border-right-color: #aaa;
      }
      &:focus {
        background-color: #fafafa;
        border-top-color: #aaa;
        border-left-color: #aaa;
        border-right-color: #aaa;
      }
    }
  }
  > li {
    > a {
      &:hover {
        border-bottom-color: #aaa;
      }
    }
  }
}
.captestTables {
  max-height: 50vh;
  overflow-y: scroll;
  padding: 0 8px;
  input {
    outline: none;
    text-align: center;
    width: 7em;
    height: 2em;
    &:focus {
      border-color: #aaa;
    }
  }
  .inputChangeBorder {
    outline: none;
    text-align: center;
    width: 7em;
    height: 2em;
  }
  tbody {
    tr {
      td {
        border: none !important;
      }
      th {
        border: none !important;
      }
      &:nth-child(2n) {
        td {
          background-color: #f1f1f1;
        }
        th {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
.charticon {
  width: 0;
  height: 0;
  background-image: url(images.png);
  background-repeat: no-repeat;
  background-position-x: -14px;
  background-position-y: -397px;
  padding-left: 18px;
  padding-top: 14px;
}
.chartwhiteicon {
  width: 0;
  height: 0;
  background-image: url(images.png);
  background-repeat: no-repeat;
  background-position-x: -53px;
  background-position-y: -397px;
  padding-left: 20px;
  padding-top: 20px;
}
.tableicon {
  width: 0;
  height: 0;
  background-image: url(images.png);
  background-repeat: no-repeat;
  background-position-x: -73px;
  background-position-y: -397px;
  padding-left: 20px;
  padding-top: 20px;
}
.csvicon {
  width: 0;
  height: 0;
  background-image: url(images.png);
  background-repeat: no-repeat;
  background-position-x: -33px;
  background-position-y: -397px;
  padding-left: 20px;
  padding-top: 20px;
}
#captestHistory {
  .charticon {
    opacity: 0.25;
  }
  tr {
    &:hover {
      cursor: pointer;
      .charticon {
        opacity: 1;
      }
    }
  }
  .lbl {
    width: 104px;
  }
}
#captestResult_charts {
  width: calc(100vw - 100px);
  height: calc(100vh - 308px);
  display: none;
}
#captestResult_table {
  width: calc(100vw - 100px);
  height: calc(100vh - 308px);
  display: none;
  overflow: auto;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}
input[type="date"] {
  min-width: 160px;
}
.xps-tooltip-wrapper {
  display: inline-block;
  position: relative;
}
.xps-tooltip-trigger {
  opacity: 0.5;
  &:hover {
    opacity: 1;
    + {
      .xps-tooltip {
        display: block;
      }
    }
  }
}
.xps-tooltip {
  display: none;
  z-index: 10;
  white-space: normal;
  word-wrap: break-word;
  background-color: #3a567d;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  padding: 5px 8px;
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
  transform: translate(0, -50%);
  min-width: 12em;
  &::before {
    left: -8px;
    top: calc(50% - 8px);
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-right-color: #3a567d;
  }
}
.infoicon {
  width: 0;
  height: 0;
  background-image: url("images.png");
  background-repeat: no-repeat;
  background-position-x: -28px;
  background-position-y: -285px;
  padding: 10px;
}
