.battery-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  // :nth-child(2) {
  //   margin-left: 30%;
  // }
  .addr {
    width: 100% !important;
    .addr-list {
      display: flex;
      justify-content: start;
      gap: 6px;
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      .addr-item {
        display: inline-flex;
        background-color: #8d8d8d;
        width: 30px;
        height: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.1rem;
        transition: 0.2s;
      }
      .addr-disabled {
        cursor: default;
        opacity: 0.3;
      }
    }
  }
  .iconConnect {
    font-size: 2.5rem;
    .alertRed {
      color: #ff6b6b;
    }
    .alertGreen {
      color: rgb(5, 161, 5);
    }
  }
}

.battery-data {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 2fr 100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.grid {
  display: grid;
}

/* 100px é o valor total, ignora conteúdo, margem e etc. Respeita apenas o min-width do item.*/
.grid-template-temperatura {
  grid-template-columns: 1fr 70px;
  gap: 5px 15px;
  align-content: baseline;
  align-items: center;
  .title {
    text-align: right;
  }
}
.grid-template-element {
  grid-template-columns: 1fr 70px;
  gap: 5px 15px;
  align-items: center;
}
.infoBateria {
  display: flex;
  justify-content: center;
}
.grid-template-infoBattry {
  grid-template-columns: 1fr 70px 17%;
  align-items: center;
  gap: 5px 15px;

  .title {
    text-align: right;
  }
}

.tensaoElemBody {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  .panel-body {
    display: flex;
    padding: 0;
    height: 871px;
    background-color: #fafafa00 !important;
    .grid-template-element {
      margin-right: 4rem;
    }
  }
  .tensaoElem {
    // border-radius: 5px;
    // border: 1px solid lightgray;
    .element {
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      gap: 15px;
      display: grid;
      grid-template-columns: 10% 70px;
      // padding: 5px 10px;
      // border-top: 1px solid lightgray;
      &:not(:nth-last-child(-n + 8)) {
        border: none;
      }
    }
  }
}
.temperatura {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  .temperaturaCell {
    grid-template-columns: 1fr;
    gap: 1rem 0;
    .cells {
      grid-template-columns: 50px 50px;
      border: 1px solid lightgray;
      padding: 0.8rem;
    }
    .group-2 {
      margin-top: 2.5rem;
    }
  }
}

.dflex {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
.temperatura,
.tensaoElemBody,
.infoBateria {
  min-height: 337px;
}
.battery-Unicoba {
  span {
    font-style: normal;
  }
}
.historyBattery {
  min-height: calc(100vh - (60px + 80px + 38px + 10px) - 10rem);
}
.statusBattery {
  .alarms {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .circle-small {
    width: 17px;
    height: 17px;
  }
}
@media screen and (min-width: 2560px) {
  .statusBattery {
    height: 405px;
    
  }
  .adress-body {
    height: 871px;
  }
}

@media screen and (min-width: 1920px) {
  .statusBattery {
    height: 405px;

  }
  .adress-body {
    height: 871px;
  }
}
.protecao,
.falha,
.warning {
  div {
    border: 1px solid;
    border-radius: 5px;
    ul {
      padding: 0;
      padding-top: 3px;
      padding-bottom: 3px;
      li {
        margin-top: 5px;
        border-bottom: 1px solid;
        span {
          max-width: 10%;
        }
      }
    }
  }
}
.historico-header {
  padding: 2.123rem;
}

.historico-body {
  background: #cad0ddb8 !important;
  padding: 20px;
  min-height: 871px;
  @media screen and (min-width: 1400px) {
    height: 896px;
  }
  @media screen and (min-width: 1920px) {
    height: 870px;
  }
  .historico-table {
    padding: 0 1rem;
    thead,
    tbody {
      display: block;
    }

    tbody {
      overflow-y: auto;
      height: 790px;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #eeeded;
      }

      &::-webkit-scrollbar {
        width: 9px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgb(182, 176, 176);
      }
      tr {
        display: flex;
        &:not(tfoot):nth-child(odd) {
          background: #eeeeee;
        }
      }
    }

    body {
      font-size: 12px;
      font-family: arial;
    }

    .table {
      border-collapse: collapse;
      background-color: #fff;
      width: 100%;
      margin-bottom: 0 !important;
      .table-headers {
        display: flex;
      }
    }

    .table td,
    .table th {
      padding: 9px !important;
      &:nth-child(1) {
        width: 7%;
      }
      &:nth-child(2) {
        width: 13%;
      }
      &:nth-child(3) {
        width: 13%;
        @media screen and (min-width: 1920px) {
          width: 13%;
        }
      }
      &:nth-child(4) {
        width: 10%;
      }
    }
    .table thead {
      background-color: #3a567d;
      color: #fff;
      height: 40px;
    }
    .table th,
    td {
      &:nth-child(1) {
        width: 7%;
        border-right: 1px solid #ada6a6;
      }
      &:nth-child(2) {
        width: 13%;
        border-right: 1px solid #ada6a6;
      }
      &:nth-child(3) {
        width: 13%;
        border-right: 1px solid #ada6a6;
      }
      &:nth-child(4) {
        width: 10%;
        border-right: 1px solid #ada6a6;
      }
      &:nth-child(5) {
        width: 57%;
      }
    }
    .table tbody tr {
      td {
        border-top: 0 !important;
        text-align: center;
        &:nth-last-child(1) {
          text-align: left !important;
          // margin-left: 10px;
        }
      }
    }
  }
}

// table tbody tr:not(tfoot):nth-child(odd) {
//   background: red;
// }
// table tbody tr:nth-child(even) {
//   background: blue;
// }
