/* ------------------------Cards Entradas --------------------- */

.box {
    /* background: grey; */
    /* padding: 20px 20px 20px 20px; */
}
.wrapperr {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-column-gap: 6px;
}

.wrapperRow {
    display: grid;
    grid-template-columns: 0.66fr 1fr;
    grid-column-gap: 6px;
    grid-auto-flow: column;
    align-items: end;
}

.wrapperSub {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.wrapperSub_ {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.card-body {
    padding: 0;
}

.input-custom {
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: 0.6s;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}
.input-custom-config {
    max-width: 100%;
    height: 30px;
    font-size: 16px;
    transition: 0.6s;
    border: none;
    /* border-bottom: 1px solid #CCC; */
    background-color: transparent;
}
.input-custom-config {
    outline: none;
}

.input-custom:focus {
    outline: none;
    border-bottom: 1px solid #28a2a2;
}
.card-header-entrada {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btns,
    .btn-analogico,
    .btn-invertido {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: flex-end;
    }
}
.title-entrada {
    margin-top: 1.2rem;
}


.entrada-result {
    max-width: 45%;
    background-color: #4caf50;
    height: 50px;
    margin: 1rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.entrada-result span {
    font-size: 2rem;
}

.entrada-config {
  margin-bottom: 2rem;
  .config {
      display: flex;
      align-items: center;
  }
}

.config section {
    display: grid;
    text-align: start;
}
