/* ---------------------------------------------------
    CONFIGURATIONS
----------------------------------------------------- */
.config-panel-row {
  padding: 0 10px;
}

.config-first-col-row {
  margin-bottom: 10px;
}

.config-uscc-panel {
  padding: 23px 30px !important;
}

.config-uscc-panel .col-sm-2 {
  width: 13%;
}

.config-uscc-panel .col-sm-10 {
  width: 87%;
}

.config-uscc-panel h5 {
  margin: 5.5px 0;
}

.config-uscc-panel input {
  width: 100%;
}

.config-sist-table {
  width: 100%;
  display: flex;
}

.config-sist-table th {
  text-align: right;
}

.config-sist-table th,
.config-sist-table td {
  padding-bottom: 10px;
  width: 50%;
}

.config-alarm-table {
  width: 100%;
}

.config-alarm-table th {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 40%;
}

.config-alarm-table td {
  padding-bottom: 10px;
  width: 50%;
}

.config-alarm-table td.form-unity {
  padding-bottom: 10px;
  padding-left: 10px;
  width: 10%;
}

.config-alarm-table input {
  width: 100%;
}

.config-data-panel {
  padding: 23px 30px !important;
  @media (min-width: 1920px) {
    min-height: calc(711.17px - 38.59px);
  }
}

.config-bat-data-row {
  margin: 0;
}

.table-input-sm td {
  text-align: left;
}

.config-comp-temp {
  margin-bottom: 10px;
  margin-left: 40px;
}

.config-comp-temp input {
  float: left;
}

.config-comp-temp h5 {
  margin: 3px 25px;
}

.config-insider-col {
  padding: 0;
}

.row.infra-row.btn-row.text-right {
  display: flex;
  justify-content: flex-end !important;
  margin-top: 10px !important;
}

.config-col-btn {
  padding: 0;
  margin-top: 10px;
  padding-right: 10px;
}

.config-sist-panel {
  padding: 25px 30px !important;
  padding-bottom: 15px !important;
}

#cont-conf .alarm-trap-snmp-panel {
  padding-top: 30px !important;
  padding-bottom: 20px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.boxflex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rowflex {
  display: flex;
  align-items: center;
  .col-md-5 {
    padding-right: 0;
  }
}
// .rowflex > .col-md-5 {
//   padding-right: 0;
// }
