// /* ---------------------------------------------------
//   DASHBOARD
// ----------------------------------------------------- */

.circuit-row {
  width: 100%;
  .circuit {
    width: 492px;
    height: 284px;
    background-image: url('EstadosCircuitos.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    display: table;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}


.circuit000 {
  background-position-x: 0;
}

.circuit001 {
  background-position-x: -492px;
}

.circuit010 {
  background-position-x: -983px;
}

.circuit011 {
  background-position-x: -1474px;
}

.circuit100 {
  background-position-x: -1965px;
}

.circuit101 {
  background-position-x: -2456px;
}

.circuit110 {
  background-position-x: -2947px;
}

.circuit111 {
  background-position-x: -3438px;
}

.myContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 30px 0;
}

.ur-row {
  margin: 0;
}

.ur-row tr,
.ur-row th {
  width: 50%;
  text-align: center;
}

.ur-divider {
  height: 34px;
}

/*SCROLL */

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gridbatInfo {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: auto auto auto auto;
  grid-gap: 0rem;
  background: #fff;
  height: 335px;
}
.gridbatInfoItem {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0rem;
  background-color: #fff;
}

.gridbatitem {
  text-align: center;
}

.table-scroll {
  background-color: #fafafa;
  min-height: 351px;
  .header-fixed {
    width: 100%;
    &th,
    &tr {
      border-bottom: initial;
      display: block;
      text-align: center;
      :after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
      }
    }
    th{
      border: none;
    }
  }
  tbody {
    text-align: center;
    overflow-y: auto;
    scrollbar-width: thin;
    tr {
      border-bottom: 1px solid lightgray
    }
  }
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  width: 25%;
  float: left;
  border: none;
}
.header-fixed > thead > tr > th {
  color: #fff;
  background-color: #3a567d;
}


.row-info {
  width: 100%;
  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: 15px;
    .info-box-icon {
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      display: block;
      float: left;
      height: 90px;
      width: 90px;
      text-align: center;
      font-size: 12px;
      color: #f4f4f4;
      background: #3a567d;
      label {
        margin-top: 5px;
      }
      img {
        max-width: 100%;
      }
      .info-box-icon-img {
        width: 0;
        height: 0;
        background-image: url('images.png');
        background-repeat: no-repeat;
        display: table;
        margin: auto;
        margin-top: -3px;
      }
    }
    .info-box-content {
      padding: 7.5px;
      margin-left: 90px;
      font-size: 18px;
      .info-box-table {
        border-collapse: collapse;
        width: 90%;
        float: right;
        tr th {
          text-align: center;
          width: 50%;
        }
        tr td {
          text-align: right;
          padding-right: 20%;
          width: 50%;
        }
      }
    }
    .sisbox {
      padding: 21.5px 0;
    }
  }
}


.alarm-panel-body {
  padding-top: 9px;
  padding-bottom: 9px;
.alarm-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    .circle_alarm {
      display: flex;
      flex-direction: column;
      .leds-circle{
        margin: auto;
      }
      .leds-label {
        margin-top: .8rem;
      }
    }
    .hr-panel {
      margin-top: 5px;
      margin-bottom: 15px;
      border-color: #ddd;
  }
}
.battery-row {
  margin-left: 0;
  margin-right: 0;
  .divider-r {
    border-right: 1px #ddd solid;
  }
  .alarm-table {
    border-collapse: collapse;
    width: 100%;
    float: right;
    margin-top: 2px;
    height: 80%;
    tr {
      height: 34px;
      div {
        float: right;
    }
    &th {
      width: 20%;
    }
    td {
      text-align: left;
      width: 80%;
    }
  }
  }

}

.exit-col {
  margin-right: -10px;
  margin-left: 10px;
  .exit-data-row {
    width: 100%;
    margin-left: 3px;
    .exit-table tr {
      height: 38px;
    }
  }
}
}

.off-label {
  font-weight: normal;
  margin-top: 1px;
}

.on-label {
  font-weight: bold;
  margin-top: 1px;
}

.infra-panel {
  padding: 6.5px 10px;
  #infra-temp tr td {
    width: 50%;
  }
  .infra-temp-table {
    border-collapse: collapse;
    width: 100%;
    float: right;
    tr {
      height: 30px;
      th {
        text-align: center;
        width: 75%;
        font-weight: normal;
      }
      td {
        text-align: left;
        width: 25%;
      }
    }
  }
  .infra-table {
    border-collapse: collapse;
    width: 100%;
    float: right;
    tr {
      height: 33px;
      div {
        float: right;
      }
      th {
        width: 20%;
      }
      td {
        text-align: left;
        width: 80%;
      }
    }
}
.divider-l {
  border-left: 1px #ddd solid;
}
}

.gray-circle {
  background-color: #d8d8d8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.yellow-circle {
  background-color: #f5d515;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.deadyellow-circle {
  background-color: #dbd090;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.red-circle {
  background-color: #e04a4a;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.deadred-circle {
  background-color: #e5bebe;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.green-circle {
  background-color: #81b746;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.deadgreen-circle {
  background-color: #d0dbc5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
