/* ---------------------------------------------------
    HISTORY
----------------------------------------------------- */
.table-responsive {
  padding-right: 15px;
  padding-left: 15px;
  .hist-table {
      max-width: 100%;
      @media (max-width: 1200px){
        width: 1016px;
        table-layout: fixed;
      }
      td,
      th {
          min-width: 120px;
          vertical-align: middle !important;
          float: left;
          border-bottom-width: 0;
          border-bottom: 1px solid #ddd !important;
      }
      thead {
        width: 100%;
        thead,
        th {
          background-color: #3a567d;
          color: #f0f0f0;
          text-align: center;
        }
      }
      tbody {
        height: 83vh;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        td {
          height: 40px;
        }
        tr:hover,
        tr:hover td,
        tr:hover th {
          background-color: #7588a4 !important;
        }
        .tab-line,
        .data-col,
        .hour-col,
        .cod-col,
        .stts-col,
        .descr-col {
          padding-top: 11px !important;
          padding-bottom: 11px !important;
          border-color: #999;
        }
      }
      thead,
      tbody,
      tr,
      td,
      th {
        display: block;
      }
  }
}


// .hist-table td,
// .hist-table th {
//     min-width: 120px;
//     vertical-align: middle !important;
// }

// .table-fixed thead {
//     width: 100%;
// }

// .table-fixed tbody {
//     height: 83vh;
//     overflow-y: auto;
//     overflow-x: hidden;
//     width: 100%;
// }

// .table-fixed thead,
// .table-fixed tbody,
// .table-fixed tr,
// .table-fixed td,
// .table-fixed th {
//     display: block;
// }

// .table-fixed tbody td,
// .table-fixed tbody th,
// .table-fixed thead tr th {
//     float: left;
//     border-bottom-width: 0;
// }

// .table-fixed thead tr th {
//     border-bottom: 1px solid #ddd !important;
// }

// .table-fixed tbody td {
//     height: 40px;
// }

// .table-fixed tbody tr:hover,
// .table-fixed tbody tr:hover td,
// .table-fixed tbody tr:hover th {
//     background-color: #7588a4 !important;
// }

// .table-fixed tbody .data-col,
// .table-fixed tbody .hour-col,
// .table-fixed tbody .cod-col,
// .table-fixed tbody .stts-col,
// .table-fixed tbody .descr-col {
//     padding-top: 11px !important;
//     padding-bottom: 11px !important;
//     border-color: #999;
// }
.tab-line{
  min-width: 5% !important;
  width: 6%;
}
.data-col {
    width: 10.15%;
}

.hour-col {
    width: 10.1%;
}

.cod-col {
    min-width: 100px !important;
    width: 9%;
}

.stts-col {
    width: 10.15%;
}

.descr-col {
    width: 54%;
}

tr.tens,
tr.tens td,
tr.tens th {
    background-color: #8d99ab !important;
}

tr.onem,
tr.onem td,
tr.onem th {
    background-color: #b3bbc7 !important;
}

tr.fivem,
tr.fivem td,
tr.fivem th {
    background-color: #d9dde3 !important;
}

tr.morem,
tr.morem td,
tr.morem th {
    background-color: #f9f9f9 !important;
}
