/* ---------------------------------------------------
    INFRASTRUCTURE
----------------------------------------------------- */
@import './cards-entrada.scss';

.infra-input-error {
    background-color: #e04a4a !important;
}

.infra-row {
    padding: 0 10px;
}

.mon-ent-panel {
    padding: 11.8px 30px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin: auto 0;
    margin-top: 5px;
}

.switch {
  .input-switch {
      display: none;
  }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 14px;
      width: 14px;
      left: 3.5px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}


.input-switch:checked + .slider {
    background-color: #81b746;
}

.input-switch:focus + .slider {
    box-shadow: 0 0 1px #81b746;
}

.input-switch:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.mon-ent-table {
    border-collapse: collapse;
    width: 100%;
    float: right;
    tbody tr {
      height: 40px;
    }
    th,
    td {
        text-align: center;
    }
}


.config-ent-panel {
    padding: 15px !important;
    height: 625px;
}

.first-col-row {
    margin-bottom: 10px;
}

.col-e {
    width: 6.71%;
}

.col-name {
    width: 24.96%;
}

.col-mode {
    width: 9.83%;
    padding: 0 5px;
}

.col-zone {
    width: 32.6%;
}
