/* ---------------------------------------------------
  LOGIN
----------------------------------------------------- */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -145px;
    margin-left: -185px;
}

.logo-row {
    width: 370px;
    height: 80px;
    background-color: #3a567d;
}

.logo-row img {
    margin: 23px 95px;
}

.data-row {
    width: 370px;
    height: 210px;
    background-color: #fdfdfd;
    padding-top: 30px;
}

.data-row input {
    border-color: #d1d1d1;
    margin-bottom: 10px;
    height: 33px;
    font-size: 16px;
    text-align: center;
}

.data-row a {
    margin-top: 15px;
}

#loginfail {
    color: #d61932;
    font-weight: bold;
    font-size: 13px;
}
