/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1200px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    a[aria-expanded='false']::before,
    a[aria-expanded='true']::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar__header {
        padding: 30px 20px;
        height: 78px;
    }

    #sidebar .sidebar__header #logoxps {
        display: none;
    }

    #sidebar .sidebar__header #logox {
        display: block;
    }

    #sidebar ul li a div.menu__lbl {
        display: none;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #topnav-container .navbar-header {
        width: 100%;
    }

    #xpsname {
        display: none;
    }

    .pagename {
        font-size: 20px;
        margin-left: 0;
        margin-top: 22px;
        width: 80%;
        text-align: center;
    }

    #xpsnumber {
        font-size: 13px;
        margin-top: 0;
        width: 100%;
        text-align: center;
    }

    #hm {
        display: none;
    }

    #dma {
        display: none;
    }

    #sign {
        display: none;
    }

    .myContainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        margin-left: 7px;
    }

    .divider-l {
        border-left: none;
    }

    .divider-r {
        border-right: none;
    }

    .exit-data-row {
        width: 100%;
        margin-left: -7px;
    }

    .infra-temp-table {
        border-collapse: collapse;
        width: 100%;
        float: right;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .alarm-table tr,
    .infra-temp-table tr {
        height: 35px;
    }

    #cont-dash .panel-xps {
        margin-bottom: 10px;
    }

    .circuit {
        width: 300px;
        height: 174px;
        background-image: url('EstadosCircuitosSmall.png');
        background-repeat: no-repeat;
        background-position-y: 0;
        display: table;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .alarm-row .col-sm-4 {
        padding-left: 15px !important;
    }

    .leds-label {
        width: 100%;
        text-align: left;
        margin-top: -10px;
        margin-bottom: 4px;
    }

    .leds-circle {
        margin-left: 26px;
        margin-bottom: 9px;
    }

    .hr-panel-mobile {
        display: block;
    }

    .entr-row {
        margin-left: -1px;
        margin-right: -1px;
    }

    .table-responsive {
        border: none;
        width: 400%;
        overflow-x: scroll;
    }
    .table-responsive .tab-line{
        width: 5%;

    }
    .table-responsive .data-col {
        width: 5%;
    }

    .table-responsive .hour-col {
        width: 5%;
    }

    .table-responsive .cod-col {
        width: 5%;
    }

    .table-responsive .stts-col {
        width: 5%;
    }

    .table-responsive .descr-col {
        width: 45%;
    }

    #cont-hist {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .table-fixed tbody {
        height: 80vh;
    }

    .hist-table td,
    .hist-table th {
        min-width: 98px;
    }

    .col-alarm-left {
        width: 38%;
    }

    .col-alarm-right {
        width: 100%;
    }

    .alarm-trap-snmp-panel {
        margin-bottom: 10px;
        padding: 10px !important;
    }

    .alarm-trap-snmp-panel .checkbox-col input {
        margin-left: 40%;
    }

    .alarm-trap-snmp-panel .checkbox-col h5 {
        float: right;
        margin-right: 40%;
        margin-top: 3.5px;
        margin-bottom: 15px;
    }

    .config-ent-panel {
        height: 1170px;
    }

    .btn-row {
        padding-bottom: 10px;
        text-align: center;
    }

    .hr-mobile {
        display: block;
    }

    .mon-ent-panel {
        padding: 15px !important;
    }

    .infra-entr-table tr {
        height: 30px;
        font-size: 15px;
    }

    .infra-entr-table tr th {
        width: 25%;
    }

    .infra-entr-table tr td {
        text-align: left;
        width: 50%;
    }

    .first-col-row {
        margin-bottom: 0;
    }

    .infra-row {
        margin-bottom: 10px;
    }

    .infra-config-entr-panel {
        height: 580px;
    }

    .infra-config-entr {
        width: 87vw;
        overflow-x: scroll;
    }

    .infra-config-entr table {
        width: 700px;
        float: left;
    }

    .config-uscc-panel {
        padding: 10px !important;
    }

    .config-uscc-panel .col-sm-10,
    .config-uscc-panel .col-sm-2 {
        width: 100%;
    }

    .config-sist-panel {
        padding: 10px !important;
    }

    .config-sist-table th {
        padding: 0;
        padding-bottom: 10px;
    }

    .config-sist-table td {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .table-input-sm input {
        width: 90%;
    }

    .config-comp-temp {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .config-comp-temp h5 {
        padding: 4px 0 !important;
    }

    .alarm-trap-snmp-panel .net-address {
        padding: 0 15px !important;
    }

    .test-apply {
        margin: 0 -15px !important;
    }

    .test-apply h5 {
        margin: 2px 4px !important;
    }

    .netw-col-btn {
        margin-top: -10px;
        padding-left: 10px;
    }
}
