/* ---------------------------------------------------
    NETWORK
----------------------------------------------------- */
.net-address {
    margin-bottom: 15px;
}

.adressMac {
    padding: 10px;
}
.net-timeout {
    margin-bottom: 0 !important;
}
.net-address input {
    float: left;
    margin: 0;
    margin-top: 1px;
}

.net-address input.test-apply {
    margin-top: 3px !important;
}

.net-address h5 {
    margin: 2px 25px;
}

.table-input-md td {
    text-align: left;
}

.table-input-md input {
    width: 90%;
}

.table-input-md input[type='checkbox'] {
    width: 10%;
}

.net-smtp-table th {
    width: 25%;
}

.net-smtp-table td {
    width: 75%;
}

.netw-ipv4-table {
    width: 100%;
}

.xps-table th,
.netw-ipv4-table th {
    text-align: right;
    padding-right: 10px;
    line-height: 1.25;
}

.netw-ipv4-table th,
.netw-ipv4-table td {
    padding-bottom: 10px;
    width: 50%;
}

.xps-table th,
.xps-table td {
    padding-bottom: 14px;
}

.netw-ipv4-table input {
    width: 100%;
}

.network-row {
    padding: 0 10px;
    padding-top: 76px;
}

.netw-col-btn {
    padding: 0;
    margin-top: 30px;
    padding-right: 10px;
}

.mostrarSenha:hover {
    opacity: 0.5;
}

.mostrarSenha.active {
    opacity: 1;
}

.mostrarSenha {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 7px;
    background-position-x: -28px;
    background-position-y: -312px;
    background-image: url('images.png');
    background-repeat: no-repeat;
    padding: 9px;
    opacity: 0.3;
}

.netw_configTrap {
    margin-bottom: 10px;
}
.netw_timeOut--body  {
    height: 98px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    .row {
        display: flex;
        justify-content: flex-end;

        .timeout {
            display: flex;
            align-items: center;
        }

    }
}

/* -----------------------loading----------- */
.loading {
    position: fixed;
    z-index: 99;
    background: rgba(225, 230, 238, 0.73);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: inherit;
}

.count {
    position: relative;
    top: calc(50% - 10px);
    width: 100%;
    text-align: center;
    font-size: small;
}

.loading::before {
    content: '';
    border: 6px solid rgba(221, 221, 221, 0);
    border-top-color: #858585;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    background-color: #d3dae5;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
