/* ---------------------------------------------------
    NOTIFICATION
----------------------------------------------------- */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(225, 230, 238, 0.75);
	z-index: 1;
	opacity: 0;
	transition: opacity 225ms ease 195ms;
	.notification {
		opacity: 0;
		transition: opacity 225ms ease;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 2em 2.5em;
	}
}
.overlay.show {
	z-index: 999;
	opacity: 1;
	transition: opacity 225ms ease;
	.notification {
		opacity: 1;
		transition: opacity 225ms ease 195ms;
	}
}
.notification {
	background: #3a567d;
	color: #fff;
	width: 25em;
	padding: 1em;
	border-radius: 0.25em;
	box-shadow: 0 15px 12px -12px rgba(0, 0, 0, 0.6);
	.icon {
		fill: #fff;
		height: 1.2em;
		vertical-align: middle;
		margin-right: 0.5em;
	}
}
