/* ---------------------------------------------------
  PAGES CONTENTS
----------------------------------------------------- */
#dash,
#cont-dash {
    display: none;
}

#dash.active,
#cont-dash.active {
    display: block;
}

#hist,
#cont-hist {
    display: none;
}

#hist.active,
#cont-hist.active {
    display: block;
}

#alar,
#cont-alar {
    display: none;
}

#alar.active,
#cont-alar.active {
    display: block;
}

#infr,
#cont-infr {
    display: none;
}

#infr.active,
#cont-infr.active {
    display: block;
}

#conf,
#cont-conf {
    display: none;
}

#conf.active,
#cont-conf.active {
    display: block;
}

#netw,
#cont-netw {
    display: none;
}

#netw.active,
#cont-netw.active {
    display: block;
}

#batt,
#cont-batt {
    display: none;
}

#batt.active,
#cont-batt.active {
    display: block;
}

#simet,
#cont-simet {
    display: none;
}

#simet.active,
#cont-simet.active {
    display: block;
}
