#sidebar {
  min-width: 200px;
  max-width: 200px;
  background: #3a567d;
  color: #f0f0f0;
  .sidebar-header {
    padding: 20px;
    background: #fff;
    height: 60px;
    #logoxps {
      display: block;
      width: 175px;
    }
    #logox {
      display: none;
      width: 58px;
    }
  }
  ul.components {
    padding: 20px 0;
  }
  ul {
    li {
      cursor: pointer;
      a {
        text-align: left;
        padding: 10px;
        font-size: 1.1em;
        display: block;
        div.menu-icon {
          display: block;
          float: left;
          width: 35px;
          img {
            width: 26px;
            height: 24px;
          }
        }
        div.menu-icon-dark {
          display: none;
          float: left;
          width: 35px;
          img {
            width: 26px;
            height: 24px;
          }
        }
        &:hover {
          color: #5c7792;
          background: #fff;
          div.menu-icon {
            display: none;
          }
          div.menu-icon-dark {
            display: block;
          }
        }
      }
    }
    li.active {
      > a {
        color: #fff;
        background: #5c7792;
      }
      a {
        div.menu-icon {
          display: block;
        }
        div.menu-icon-dark {
          display: none;
        }
      }
    }
  }
}
.logoxpsimg {
  width: 0;
  height: 0;
  background-image: url("images.png");
  background-repeat: no-repeat;
  display: table;
  margin: auto;
  margin-top: -8px;
  margin-left: -8px;
  background-position-x: 0;
  background-position-y: -332px;
  padding: 16px 88px;
}
.logoximg {
  width: 0;
  height: 0;
  background-image: url("images.png");
  background-repeat: no-repeat;
  display: table;
  margin: auto;
  margin-top: -8px;
  margin-left: -8px;
  background-position-x: 0;
  background-position-y: -368px;
  padding: 16px 40px;
}
a[aria-expanded="true"] {
  color: #fff;
  background: #5c7792;
  &::before {
    content: "\e259";
    display: block;
    position: absolute;
    right: 20px;
    font-family: "Glyphicons Halflings";
    font-size: 0.6em;
    content: "\e260";
  }
}
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  visibility: visible;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(1%, 0, 0);
  .sidebar-header {
    #logoxps {
      display: none;
    }
    #logox {
      display: block;
    }
  }
  ul {
    li {
      a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
        height: 60px;
        div.menu-lbl {
          display: none;
        }
        div.menu-icon {
          float: none;
          width: 100%;
          padding-bottom: 10px;
          img {
            width: 26px;
            height: 24px;
          }
        }
        div.menu-icon-dark {
          float: none;
          width: 100%;
          padding-bottom: 10px;
          img {
            width: 26px;
            height: 24px;
          }
        }
      }
    }
  }
  a[aria-expanded="false"] {
    &::before {
      top: auto;
      bottom: 5px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
  a[aria-expanded="true"] {
    &::before {
      top: auto;
      bottom: 5px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
}
a[aria-expanded="false"] {
  &::before {
    content: "\e259";
    display: block;
    position: absolute;
    right: 20px;
    font-family: "Glyphicons Halflings";
    font-size: 0.6em;
  }
}
a[data-toggle="collapse"] {
  position: relative;
}
.sideicon {
  width: 0;
  height: 0;
  background-image: url("images.png");
  background-repeat: no-repeat;
  display: table;
  margin: auto;
  margin-top: -3px;
}
.iconhist_dark,
.iconalarm_dark,
.iconinfra_dark,
.iconconfig_dark,
.iconnetw_dark,
.icondash_dark {
  background-position-x: -25px;
}
.iconhist,
.iconalarm,
.iconinfra,
.iconconfig,
.iconnetw,
.icondash {
  background-position-x: 0;
}

.icondash {
  // background-position-x: 0;
  background-position-y: 2px;
  padding: 13px 13px;
}

.icondash_dark {
  // background-position-x: -25px;
  background-position-y: 2px;
  padding: 13px 13px;
}
.iconhist {
  // background-position-x: 0;
  background-position-y: -23px;
  padding: 13px 13px;
}
.iconhist_dark {
  // background-position-x: -25px;
  background-position-y: -23px;
  padding: 13px 14px;
}
.iconalarm {
  // background-position-x: 0;
  background-position-y: -49px;
  padding: 13px 14px;
}
.iconalarm_dark {
  // background-position-x: -25px;
  background-position-y: -49px;
  padding: 13px 14px;
}
.iconinfra {
  // background-position-x: 0;
  background-position-y: -75px;
  padding: 12.5px 14px;
}
.iconinfra_dark {
  // background-position-x: -25px;
  background-position-y: -75px;
  padding: 12.5px 14px;
}
.iconconfig {
  // background-position-x: 0;
  background-position-y: -101px;
  padding: 13px 13.5px;
}
.iconconfig_dark {
  // background-position-x: -25px;
  background-position-y: -101px;
  padding: 13px 13.5px;
}
.iconnetw {
  // background-position-x: 0;
  background-position-y: -127px;
  padding: 12px 13px;
}
.iconnetw_dark {
  // background-position-x: -25px;
  background-position-y: -127px;
  padding: 12px 14px;
}

.iconbattery {
  background-position-x: -110px;
  background-position-y: 2px;
  padding: 12px 13px;
}

.iconbattery_dark {
  background-position-x: -142px;
  background-position-y: 2px;
  padding: 12px 14px;
}

.iconsimet {
  background-position-x: -55px;
  background-position-y: -130px;
  padding: 12px 13px;
}
.iconsimet_dark {
  background-position-x: -80px;
  background-position-y: -130px;
  padding: 12px 14px;
}
.iconcapac {
  background-position-x: -52px;
  background-position-y: 2px;
  padding: 13px 13px;
}
.iconcapac_dark {
  background-position-x: -78px;
  background-position-y: 2px;
  padding: 13px 13px;
}

.menuItem-disabled {
  pointer-events: none;
  background: #cfcfcf8a;
}

.version {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  text-align: center;
  opacity: 0.3;
}
