/* ---------------------------------------------------
    SIMETRIA
----------------------------------------------------- */

.simet-panel-row {
    padding: 0 10px;
}

.tab-sim-table {
    width: 100%;
}

.tab-sim-table th {
    text-align: right;
    padding-bottom: 10px;
    width: 40%;
}

.tab-sim-table td {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 60%;
}

.hab-address {
    margin-left: 38px;
    margin-top: 10px;
}

.hab-address input {
    float: left;
    margin: 15px;
    margin-top: 1px;
}

.hab-address h5 {
    margin: 0 5px;
}

.bgcolor-red {
    background-color: red;
}

.bgcolor-yellow {
    background-color: yellow;
}

.simet-config-geral-panel {
    padding: 5px 20px !important;
}

/* monitor */
.table > thead > tr > th {
    text-align: center;
    border-bottom: initial;
}

.table > thead > tr.align-left > th {
    text-align: left;
}

th {
    text-align: center;
}

.simet-row {
    padding: 15px;
}

.detalhes {
    padding: 20px 0 0 40px;
}
