/* ------------------------------------- CSS 1 ----------------------------------------- */

// .row-info {
//     width: 100%;
// }

.panel-xps {
    border-radius: 0;
    border: none;
    margin: 0;
}

.panel-xps div.panel-heading {
    border-radius: 0;
    background-color: #3a567d;
    color: #f0f0f0;
    position: relative;
}

.panel-xps div.panel-body {
    border-radius: 0;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
}



.reti-erro .panel-heading {
    background-color: #dd6363 !important;
    color: #f0f0f0;
}

.reti-out .panel-heading {
    background-color: #ccc !important;
    color: #555 !important;
}

.table-ret tr {
    height: 33px;
}

.table-ret tr th.text-center {
    font-size: 12px;
}

.leds-label {
    width: 100%;
}

.leds-circle {
    margin-left: 40%;
    margin-bottom: 5px;
}

.hr-panel-mobile {
    margin-top: 5px;
    margin-bottom: 15px;
    border-color: #ddd;
    display: none;
}

.hr-temp {
    margin-bottom: 8px;
}


