@import "./variables";
@import "./topbar.scss";
@import "./sidebar.scss";
@import "./pages-content.scss";
@import "./dashboard.scss";
@import "./login.scss";
@import "./style-01.scss";
@import "./history.scss";
@import "./infra.scss";
@import "./style-02.scss";
@import "./config.scss";
@import "./network.scss";
@import "./battery.scss";
@import "./usuario.scss";
@import "./404.scss";
@import "./media-queries.scss";
@import "./notification.scss";
@import "./alert.scss";
@import "./simetria.scss";
@import "./testeCapacidade.scss";
@import "./alarms.scss";
body {
  font-family: "Arial", sans-serif;
  background: #e1e6ee;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
ul {
  list-style: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 0;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 5px 1px 3px rgba(148, 143, 143, 0.1);
  width: 100vw;
  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }
}

i,
span {
  display: inline-block;
}

.wrapper {
  overflow-x: hidden;
  display: flex;
  align-items: stretch;
}

.inputChangeBorder {
  border-color: orange;
}

.inputErrorBorder {
  border-color: #a94442 !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

/* ---------------------------------------------------
  TOOLTIP CSS
----------------------------------------------------- */
.boxTooltip {
  position: relative;
  /* margin-top: 15px; */
  .boxTooltip .tooltip {
    position: fixed;
    display: block;
    opacity: 0;
    visibility: hidden;
    background: #262626;
    border-radius: 7.5px;
    color: #ccc;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 10px;
    padding: 10px 15px;
    z-index: 5;
    opacity: 0;
    transition-duration: 0s;
  }
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

// /* ---------------------------------------------------
//   TOPBAR STYLE
// ----------------------------------------------------- */
// #topnav-container {
//     width: 100vw;
//     height: 56px;
// }

// #topnav-container .navbar-header {
//     width: 65%;
// }

// .navbar-header h3 {
//     margin-top: 15px;
// }

// #topnav-container div button {
//     margin-top: 8px;
//     margin-bottom: 7px;
//     float: left;
// }

// #topnav-container div button img {
//     height: 27px;
// }

// .topnav-open {
//     margin-left: -200px;
// }

// .topnav-open .navbar-header {
//     margin-left: 200px;
// }

// .topnav-close {
//     margin-left: -80px;
// }

// .topnav-close .navbar-header {
//     margin-left: 80px;
// }

// .topbarmenu {
//     width: 0;
//     height: 0;
//     background-image: url('images.png');
//     background-repeat: no-repeat;
//     display: table;
//     margin: auto;
//     margin-top: -3px;
//     background-position-x: 0;
//     background-position-y: -284px;
//     padding: 14.5px;
// }

// #xpsname {
//     float: left;
//     padding-left: 30px;
//     color: #4f4f4f;
//     display: block;
// }

// #xpssecname {
//     float: left;
//     padding-left: 2px;
//     color: #4f4f4f;
//     display: block;
// }

// .pagename {
//     color: #4f4f4f;
//     margin-left: 5px;
//     float: left;
// }

// #xpsnumber {
//     color: #4f4f4f;
//     margin-left: 5px;
//     margin-top: 20px;
//     float: left;
//     font-size: 19px;
// }

// #hm {
//     margin-top: 20px;
//     margin-right: 10px;
//     display: block;
// }

// #dma {
//     margin-top: 20px;
//     margin-right: 5px;
//     display: block;
// }

// #tra {
//     margin-top: 20px;
//     margin-right: 5px;
//     display: block;
// }

// #sign {
//     display: block;
// }

// #sign a,
// #sign span {
//     color: #4f4f4f;
// }

// #sign a img {
//     height: 15px;
// }

// .topbaruser {
//     width: 0;
//     height: 0;
//     background-image: url('images.png');
//     background-repeat: no-repeat;
//     margin: auto;
//     margin-top: -3px;
//     background-position-x: 0;
//     background-position-y: -312px;
//     padding: 7.5px;
// }

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: calc(100vw - 200px);
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}

.page-container {
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  width: calc(100vw - 220px);
}

.page-container.closed {
  width: calc(100vw - 100px) !important;
}

/* ------------------- INFO BOX --------------------- */

.info-box-entrada {
  background-position-x: 0;
  background-position-y: -195px;
  padding: 20px 30px;
}

.info-box-baterias {
  background-position-x: 0;
  background-position-y: -152px;
  padding: 20px 27.3px;
}

.info-box-sistema {
  background-position-x: 0;
  background-position-y: -236px;
  padding: 24px 25px;
}

.info-box-row {
  margin-right: -23px;
  margin-left: -7px;
  margin-bottom: -7px;
}

/* ---------------------------------------------------
    TOOLTIP CSS
----------------------------------------------------- */
.boxTooltip {
  position: relative;
  /* margin-top: 15px; */
}
.tooltip::before {
  left: -8px;
  top: calc(50% - 8px);
  position: absolute;
  content: "";
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-right-color: #3a567d;
}
.boxTooltip .tooltip {
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  background-color: #3a567d;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial;
  /* font-size: 10px; */
  padding: 10px 15px;
  z-index: 5;
  opacity: 0;
  transition-duration: 0s;
  /* min-width: 12em; */
}

.boxTooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.selected {
  background-color: $bg-blue !important;
}

.disabled {
  opacity: 0.2;
  cursor: initial !important;
}

// Cores custom

.green-light {
  background-color: #8ffe0d;
}
.green-dark {
  background-color: #427209;
}
