/* ---------------------------------------------- CSS 2 ------------------------------------------ */

.col-reles {
    width: 25.9%;
}

.col-reles .col-xs-1 {
    width: 14.28%;
}

.col-zone .col-xs-4 {
    width: 31.8% !important;
    margin: 0 0.5%;
    color: #333;
}

.col-zone .col-xs-2 {
    width: 16.2% !important;
    margin: 0 0.5%;
    color: #333;
}

.infra-open-close-a {
    cursor: pointer;
}

.infra-open-close {
    width: 0;
    height: 0;
    background-image: url('images.png');
    background-repeat: no-repeat;
    background-position-x: -14px;
    background-position-y: -315px;
    padding: 7px;
}

.closed .infra-open-close {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.tr-hr {
    height: 5px !important;
}

.tr-hr-border {
    height: 5px !important;
}

.tr-hr-border td {
    border-top: 1px solid #ccc;
}

.tr-hr-border .first {
    border-top: transparent;
}

.tr-hr-border .first div {
    border-top: 1px solid #ccc;
    width: 80%;
    float: right;
    margin-top: -2px;
}

.tr-hr-border .last {
    border-top: transparent;
}

.tr-hr-border .last div {
    border-top: 1px solid #ccc;
    width: 95%;
    margin-top: -2px;
}

.alarm-container {
    height: 30px !important;
    display: run-in;
}

.alarm-container.closed {
    display: none;
}

.alarm-toggle {
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

.alarm-container p {
    text-align: center;
    color: #333;
    margin: 0;
    margin-top: 2px;
}

.alarm-toggle p {
    text-align: left;
    float: left;
}

.alarm-toggle label {
    text-align: left;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.btn-row {
    padding-top: 10px;
}

.btn-xps {
    background-color: #3a567d;
    border-color: #374f72;
    border-radius: 6px;
    max-width: 100%;
}

.btn-xps2 {
    background-color: #3a567d;
    border-color: #374f72;
    border-radius: 6px;
    width: 125px;
}

.btn-xps[disabled]:hover {
    background-color: #3a567d;
    border-color: #374f72;
}

.btn-xps img {
    margin-top: -3px;
    margin-right: 5px;
    max-height: 15px;
}

.readicon {
    width: 0;
    height: 0;
    background-image: url('images.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -396.4px;
    padding: 7.86px 8.48px;
}

.saveicon {
    width: 0;
    height: 0;
    background-image: url('images.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -412px;
    padding: 7.8px 8.48px;
}

.cargaicon {
    width: 0;
    height: 0;
    background-image: url('images.png');
    background-repeat: no-repeat;
    background-position-x: -52px;
    background-position-y: -1px;
    padding: 8.52px 12.48px;
}

.repoicon {
    width: 0;
    height: 0;
    background-image: url('images.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -476px;
    padding: 8.52px 8.48px;
}

#configrepo {
    width: 150px;
}

.slider.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.dis-input:disabled {
    opacity: 0.3;
}

.dis-alarm-input:disabled,
.analog-inp:disabled {
    color: #ccc;
}

.alarm-container.disabled .alarm-toggle p {
    opacity: 0.5;
}

.alarm-container .disabled p {
    opacity: 0.5;
}

.infra-entr-table {
    border-collapse: collapse;
    width: 100%;
    float: right;
}

.infra-entr-table tr {
    height: 27px;
}

.infra-entr-table tr div {
    float: right;
}

.infra-entr-table tr th {
    width: 15%;
}

.infra-entr-table tr td {
    text-align: left;
    width: 35%;
}

.mon-ents-col {
    padding-right: 60px !important;
}

.infra-entr-table tr td.entval {
    text-align: right;
    width: 20%;
}

.infra-entr-table tr td.grand {
    text-align: left;
    width: 15%;
    padding-left: 5px;
}

.mon-temp-col {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
