/* ---------------------------------------------------
    TESTE DE CAPACIDADE
----------------------------------------------------- */

.cap-res-toggle {
    cursor: pointer;
}

.cap-res-toggle:hover {
    opacity: 0.75;
}

#captestResult_charts.active,
#captestResult_table.active {
    display: block;
}

.captestCurrent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#captestCurrent_start {
    color: #4d77b3;
    font-weight: bold;
}

.captestHistTable {
    margin: 0;
    white-space: nowrap;
}

#captestHistory td {
    text-align: center;
    padding: 2px 8px;
}

#captestHistory td:first-child,
#captestHistory td:last-child {
    width: 1px;
}

.captest_ok {
    color: #337ab7;
}

.captest_fail {
    color: #c9302c;
}

#captestResults_modal .panel-heading {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 40px;
}

#captestResults_modal .panel-heading .btn-xps {
    width: auto;
    background-color: #48648c;
    padding: 6px;
}
#captestResults_modal .panel-heading .btn-xps.active {
    background-color: #5878a5;
}

#captestResults_modal .panel-heading .btn img {
    margin-right: 0;
}

#captestResults_modal .panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctstResu_tbl {
    white-space: nowrap;
}
.ctstResu_tbl th {
    background-color: hsla(215, 55%, 96%, 1);
}

.text-nowrap {
    white-space: nowrap;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
    flex-shrink: 0;
}
.flex-shrink {
    flex-grow: 0;
    flex-shrink: 1;
}



#captestTables {
    table{
        width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
        tbody {
            overflow: auto;
            height: 60vh;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        thead th:nth-child(n+2){
            flex: auto;
        }
        tbody tr{
            th {
                width: 8%;
            }
            td{
                flex: auto;
            }
        } 
        
        thead tr,
        tbody tr {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
       
    };
}