#topnav-container {
	width: 100vw;
	height: 56px;
	.navbar-header {
		width: 65%;
	}
	div {
		button {
			margin-top: 8px;
			margin-bottom: 7px;
			float: left;
			img {
				height: 27px;
			}
		}
	}
}
.navbar-header {
	h3 {
		margin-top: 15px;
	}
}
.topnav-open {
	margin-left: -200px;
	.navbar-header {
		margin-left: 200px;
	}
}
.topnav-close {
	margin-left: -80px;
	.navbar-header {
		margin-left: 80px;
	}
}
.topbarmenu {
	width: 0;
	height: 0;
	background-image: url('images.png');
	background-repeat: no-repeat;
	display: table;
	margin: auto;
	margin-top: -3px;
	background-position-x: 0;
	background-position-y: -284px;
	padding: 14.5px;
}
#xpsname {
	float: left;
	padding-left: 30px;
	color: #4f4f4f;
	display: block;
}
#xpssecname {
	float: left;
	padding-left: 2px;
	color: #4f4f4f;
	display: block;
}
.pagename {
	color: #4f4f4f;
	margin-left: 5px;
	float: left;
}
#xpsnumber {
	color: #4f4f4f;
	margin-left: 5px;
	margin-top: 20px;
	float: left;
	font-size: 19px;
}
#hm {
	margin-top: 20px;
	margin-right: 10px;
	display: block;
}
#dma {
	margin-top: 20px;
	margin-right: 5px;
	display: block;
}
#tra {
	margin-top: 20px;
	margin-right: 5px;
	display: block;
}
#sign {
	display: block;
	a {
		color: #4f4f4f;
		img {
			height: 15px;
		}
	}
	span {
		color: #4f4f4f;
	}
}
.topbaruser {
	width: 0;
	height: 0;
	background-image: url('images.png');
	background-repeat: no-repeat;
	margin: auto;
	margin-top: -3px;
	background-position-x: 0;
	background-position-y: -312px;
	padding: 7.5px;
}
