/* ---------------------------------------------------
    USUARIO
----------------------------------------------------- */
/* *********************************************** */
/* teste de capacidade  */
#cont-usuario,
#graficos,
#cont-capacity,
#usuario {
	display: none;
}

#usuario.active {
	display: block;
}
#cont-usuario.active {
	display: block;
}
#graficos.active {
	display: block;
}
#cont-capacity.active {
	display: block;
}
.salvarcadastro {
	text-align: right;
}
.user-panel-row {
	padding: 0 10px;
}
.user-config-geral-panel {
	padding: 5px 20px !important;
}
.delete {
	background-color: #e99996;
	border-color: #e99996;
}
#userTable {
	text-align: center;
	td {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}
.iconusuario {
	background-position-x: -53px;
	background-position-y: -100px;
	padding: 12px 13px;
}
.iconusuario_dark {
	background-position-x: -80px;
	background-position-y: -100px;
	padding: 12px 14px;
}
.modal_login {
	z-index: 1;
}
.mod {
	z-index: 2;
}
.modal_detalhes {
	z-index: 2;
}
.dropbtn {
	background-color: #4caf50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
	padding: 20px 30px;
	&:hover {
		.dropdown-content {
			display: block;
			right: 0;
		}
	}
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 150px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: 100%;
	a {
		color: black;
		padding: 8px 20px 8px 0;
		text-decoration: none;
		display: block;
		text-align: center;
		&:hover {
			background-color: #f1f1f1;
		}
	}
}
.modal {
	z-index: 20;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fafafa;
	padding: 1rem 1.5rem;
	min-width: 40%;
	border-radius: 0.5rem;
}
.close-button {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 1.5rem;
	line-height: 1.5rem;
	font-size: 2.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	color: rgb(231, 231, 231);
	&:hover {
		color: rgb(177, 186, 202);
	}
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0 linear 0, opacity 0.25s 0, transform 0.25s;
}
.modalSize {
	min-width: 30%;
}
.modal-header {
	text-align: center;
	background-color: #3a567d;
	color: white;
}
.modal-body {
	margin: 10px;
}
.bater-row {
	padding: 0 10px;
}
.bater-table {
	margin: 0 0 10px 0;
	td {
		padding: 5px;
		text-align: center;
	}
	div {
		border-top: 1px solid #ccc;
	}
}
.table-input-tempo {
	input {
		margin: 0;
	}
	margin: 10px 0 0 0;
	.titulo {
		th {
			display: inherit;
		}
	}
	th {
		text-align: right;
		padding: 10px;
	}
}
.inputtemp {
	width: 100%;
}
.date {
	width: 60%;
	float: left;
}
.table-capacidade {
	input {
		width: 60%;
		float: left;
	}
	.form-check-input {
		width: initial;
	}
}
